In [2]:
import numpy as np
import pandas as pd

In [4]:
fees = pd.DataFrame({
            'ID':[11,12,13,14,15,16,17,18,19,20],
            'Pending':[5000,10000,np.nan,5500,7600,np.nan,15000,4500,2000,np.nan]
})

fees

   ID  Pending
0  11   5000.0
1  12  10000.0
2  13      NaN
3  14   5500.0
4  15   7600.0
5  16      NaN
6  17  15000.0
7  18   4500.0
8  19   2000.0
9  20      NaN

In [5]:
pd.isnull(fees["Pending"])

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
9     True
Name: Pending, dtype: bool

In [7]:
fees.isnull().sum()

ID         0
Pending    3
dtype: int64

In [8]:
fees['Pending'].fillna(fees['Pending'].mean(), inplace=True)
fees

C:\Users\Abbasali\AppData\Local\Temp\ipykernel_17148\3039887980.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fees['Pending'].fillna(fees['Pending'].mean(), inplace=True)

   ID       Pending
0  11   5000.000000
1  12  10000.000000
2  13   7085.714286
3  14   5500.000000
4  15   7600.000000
5  16   7085.714286
6  17  15000.000000
7  18   4500.000000
8  19   2000.000000
9  20   7085.714286