In [4]:
import pandas as pd
df=pd.read_csv("Files/Football_dataset.csv")
df.head()

,Team,Tournament,Goals Scored,Shots pg,Yellow Cards,Red Cards,Shooting Accuracy,AerialsWon,Rating,Discipline,Own Fouls,Opponent Fouls
0,Manchester City,Premier League,83,15.8,46,2,89.4,12.8,7.01,48,1,1
1,Bayern Munich,Bundesliga,99,17.1,44,3,85.5,12.9,6.95,47,2,2
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,89.5,9.5,6.88,80,3,3
3,Barcelona,LaLiga,85,15.3,68,2,89.7,10.6,6.87,70,4,5
4,Real Madrid,LaLiga,67,14.4,57,2,87.7,11.8,6.86,59,5,6

In [5]:
df['Team'].nunique()

29

In [6]:
sorted_df = df.sort_values(by='Discipline', ascending=False)


top_2 = sorted_df.iloc[:2][['Team', 'Discipline']]
print("Top Teams")
print(top_2)

Top Teams
               Team  Discipline
9   Atletico Madrid         100
28             Roma          87

In [7]:
sorted_df = df.sort_values(by='Discipline', ascending=True)

bottom_2 = sorted_df.iloc[:2][['Team', 'Discipline']]
print("Lowest Teams")
print(bottom_2)

Lowest Teams
                 Team  Discipline
12          Liverpool          40
8   Borussia Dortmund          44

In [8]:
top_team = df.groupby('Team')['Discipline'].sum().nlargest(2)
top_team

Team
Atletico Madrid    100
Roma                87
Name: Discipline, dtype: int64

In [9]:
top_team = df.groupby('Team')['Discipline'].sum().nsmallest(2)
top_team

Team
Liverpool            40
Borussia Dortmund    44
Name: Discipline, dtype: int64

In [10]:
avg_ycards=df['Yellow Cards'].mean()
avg_ycards

62.6551724137931

In [11]:
Yellow_cards=df.groupby('Team')['Yellow Cards'].mean()
Yellow_cards

Team
AC Milan                80.0
Aston Villa             63.0
Atalanta                66.0
Atletico Madrid        100.0
Barcelona               68.0
Bayer Leverkusen        58.0
Bayern Munich           44.0
Borussia Dortmund       43.0
Chelsea                 49.0
Eintracht Frankfurt     80.0
Everton                 59.0
Inter                   59.0
Juventus                76.0
Leeds                   61.0
Leicester               61.0
Lille                   67.0
Liverpool               40.0
Lyon                    60.0
Manchester City         46.0
Manchester United       64.0
Monaco                  74.0
Napoli                  71.0
Paris Saint-Germain     73.0
RB Leipzig              57.0
Real Madrid             57.0
Roma                    84.0
Tottenham               53.0
West Ham                48.0
Wolfsburg               56.0
Name: Yellow Cards, dtype: float64

In [12]:
Red_cards=df.groupby('Team')['Red Cards'].mean()
Red_cards

Team
AC Milan                4.0
Aston Villa             4.0
Atalanta                3.0
Atletico Madrid         0.0
Barcelona               2.0
Bayer Leverkusen        0.0
Bayern Munich           3.0
Borussia Dortmund       1.0
Chelsea                 3.0
Eintracht Frankfurt     1.0
Everton                 2.0
Inter                   2.0
Juventus                6.0
Leeds                   1.0
Leicester               0.0
Lille                   2.0
Liverpool               0.0
Lyon                   10.0
Manchester City         2.0
Manchester United       1.0
Monaco                  7.0
Napoli                  3.0
Paris Saint-Germain     7.0
RB Leipzig              0.0
Real Madrid             2.0
Roma                    3.0
Tottenham               2.0
West Ham                3.0
Wolfsburg               3.0
Name: Red Cards, dtype: float64

In [13]:
goal_scr=df[df['Goals Scored'] > 5]
goal_team=goal_scr['Team'].nunique()
goal_team
team_name=goal_scr[['Team','Goals Scored']]
team_name.head(3)

                  Team  Goals Scored
0      Manchester City            83
1        Bayern Munich            99
2  Paris Saint-Germain            86

In [14]:
shoot_accuracy=df.groupby('Team')['Shooting Accuracy'].max()
shoot_accuracy = shoot_accuracy.sort_values(ascending=False)
shoot_accuracy.head()

Team
Barcelona              89.7
Paris Saint-Germain    89.5
Manchester City        89.4
Juventus               88.3
Real Madrid            87.7
Name: Shooting Accuracy, dtype: float64

In [18]:
teams_more_fouls_than_opponents=df[df['Own Fouls'] > df['Opponent Fouls']]
num_teams_more_fouls_than_opponents = teams_more_fouls_than_opponents["Team"].unique()
print(f"{num_teams_more_fouls_than_opponents}teams made more fouls than their opponents")
print("Teams that made more fouls than their opponents")
print(teams_more_fouls_tha_opponents[['Team','Opponent Fouls']])

['Juventus' 'Aston Villa' 'Liverpool' 'AC Milan' 'Lille' 'Tottenham'
 'Wolfsburg' 'Inter' 'Lyon' 'RB Leipzig' 'Leeds' 'West Ham']teams made more fouls than their opponents
Teams that made more fouls than their opponents
           Team  Opponent Fouls
6      Juventus               1
7   Aston Villa               2
12    Liverpool               1
13     AC Milan               2
14        Lille               3
15    Tottenham               5
18    Wolfsburg               1
19        Inter               2
20         Lyon               3
21   RB Leipzig               5
22        Leeds               6
23     West Ham               7